In [ ]:
Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.

In [ ]:
A1. Ordinal encoding is used when there is a ranking or order among the categories. Label encoding is used 
    when there is no order or ranking among the categories. 
    Eg: If the grades of students are categorical data then I choose ordinal encoding like excellent, good,
    satisfactory and poor. If colors are categorical data then I choose nominal encoding as there is no 
    ranking or order in them.

In [ ]:
Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.

In [ ]:
A2. Target guided ordinal encoding is a technique used to encode categorical values based on their relation
    with target variable in a supervised machine learning model. It assigns numeric values to each category
    such that the order of the encoded values is determined by the target variable's mean or median value 
    for each category. 
    Eg: We are working on a loan default prediction project and one of the features is employment status 
    which can take on values like "Employed", "Unemployed", "Self-Employed", and "Retired". We now assign 
    ordinal values to them as 1, 2, 3, 4. Then the "Employment Status" feature is transformed into a 
    numerical format based on its relationship with the target variable "Loan Default".

In [1]:
import pandas as pd
data={'Employment status':['Employed','Un-employed','Self employed','Retired'],
      'Loan default mean':[0.15,0.45,0.25,0.05]}
df=pd.DataFrame(data)

In [2]:
df

  Employment status  Loan default mean
0          Employed               0.15
1       Un-employed               0.45
2     Self employed               0.25
3           Retired               0.05

In [3]:
emp_num=[2,4,3,1]
df['Employment status Numerical']=emp_num

In [4]:
df

  Employment status  Loan default mean  Employment status Numerical
0          Employed               0.15                            2
1       Un-employed               0.45                            4
2     Self employed               0.25                            3
3           Retired               0.05                            1

In [ ]:
Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

In [ ]:
A3. Covariance is a statistical measurement that quantifies the degree to which 2 variables are related to 
    each other. It indicates the direction of linear relationship between 2 variables. A positive covariance
    tells us that as one variable increases the other also increases while negative variance tells us that
    as one variable increases the other decreases. 
    Covariance is used in PCA to find the line of best fit while preserving as much data possible. 
    Covariance between dependent and independent variable helps determine the slope of regression line. 
    
    The formula for covariance is: cov(X, Y) = Σ [(X_i - μ_X) * (Y_i - μ_Y)] / (n - 1)

In [ ]:
Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [9]:
from sklearn.preprocessing import LabelEncoder
colors = ['red', 'green', 'blue', 'green', 'red']
sizes = ['small', 'medium', 'large', 'medium', 'small']
materials = ['wood', 'metal', 'plastic', 'plastic', 'metal']
color_encode=LabelEncoder()
size_encode=LabelEncoder()
material_encode=LabelEncoder()
encoded_colors=color_encode.fit_transform(colors)
encoded_sizes=size_encode.fit_transform(sizes)
encoded_materials=material_encode.fit_transform(materials)
print("Encoded Colors:", encoded_colors)
print("Encoded Sizes:", encoded_sizes)
print("Encoded Materials:", encoded_materials)

Encoded Colors: [2 1 0 1 2]
Encoded Sizes: [2 1 0 1 2]
Encoded Materials: [2 0 1 1 0]

In [ ]:
Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

In [16]:
import pandas as pd
Age = [35, 45, 30, 50, 40]      
Income = [60000, 75000, 50000, 90000, 80000]
Education = [12, 16, 10, 18, 14]
df=pd.DataFrame({'Age':Age,'Income':Income,'Education':Education})
cov_mat=df.cov()
print(pd.DataFrame(cov_mat))

                Age       Income  Education
Age            62.5     118750.0       25.0
Income     118750.0  255000000.0    47500.0
Education      25.0      47500.0       10.0

In [ ]:
Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?

In [ ]:
A6. I would use one hot encoder for gender as it consists of only 2 categories male and female. The addition
    of 2 columns would not make much difference. I would use Ordinal encoding for Education level as there is 
    a hierarchy in education level like PhD > Master's > Bachelor's > High School. I would again use Ordinal
    encoding for Employment Status and give ranking in the order of Full-time > Part-time > Unemployed as
    definitely full time worker is more preferred than part time and unemployed and goes on.

In [ ]:
Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.

In [27]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data = {
    "Temperature": [25, 28, 20, 22, 27],
    "Humidity": [60, 65, 55, 50, 70],
    "Weather Condition": ["Sunny", "Cloudy", "Sunny", "Rainy", "Cloudy"],
    "Wind Direction": ["North", "South", "East", "West", "North"]
}
wea_enc=LabelEncoder()
wind_enc=LabelEncoder()
enc_wea=wea_enc.fit_transform(data['Weather Condition'])
enc_wind=wind_enc.fit_transform(data['Wind Direction'])
df=pd.DataFrame(data)
df['Weather Condition Numerical']=enc_wea
df['Wind Direction Numerical']=enc_wind
df.insert(5,'Weather Condition',df.pop('Weather Condition'))
df.insert(5,'Wind Direction',df.pop('Wind Direction'))
df.cov()

/tmp/ipykernel_2165/1295916216.py:18: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,Temperature,Humidity,Weather Condition Numerical,Wind Direction Numerical
Temperature,11.3,22.5,-2.5,0.8
Humidity,22.5,62.5,-5.0,-2.5
Weather Condition Numerical,-2.5,-5.0,1.0,-0.5
Wind Direction Numerical,0.8,-2.5,-0.5,1.3