In [ ]:
Q1. Write a Python program that defines a function called "add_numbers" that takes two arguments 
    (i.e., numbers) and returns their sum. Within the function, add the two numbers together and return the 
    result using the return statement. Call the function with the values 5 and 6, and print out the returned 
    result. This will result in the addition of 5 and 6, with the output of the program being the sum of 
    these two numbers.

In [2]:
def add_number(x,y):
    return x+y
result=add_number(5,6)
print (result)

11

In [ ]:
Q2. Write a Python program that calculates the square root of a given number using a built-in function. 
    Specifically, the program should take an integer or float input from the user, calculate its square root 
    using the 'sqrt()' function from the 'math' module, and print out the result to the user. As an example, 
    calculate the square root of the number 625 using this program, which should output the value of 25.

In [5]:
import math
n=int(input('Enter a number to calculate square root'))
result=math.sqrt(n)
print(result)

Enter a number to calculate square root 625

25.0

In [ ]:
Q3.Write a program that prints all prime numbers between 0 to 50.

In [6]:
def prime(n):
    f=0
    for i in range(1,n+1):
        if n%i==0:
            f=f+1
    if f==2:
        return True
    else :
        return False

list(filter(prime,[i for i in range(51)]))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
Q4. How can we swap the values of three variables (lets say a, b, and c) without using a fourth variable? 
    For example, if we have a=5, b=8, and c=9, how can we obtain a=9, b=5, and c=8? The challenge is to 
    perform this operation without using an additional variable to store any of the values during the 
    swapping process.

In [20]:
a,b,c=5,8,9
print('Initial values of a, b, c :',a,' ',b,' ',c)
a=a+c
c=a-c
a=a-c
b=b+c
c=b-c
b=b-c
print('Final values of a, b, c :',a,' ',b,' ',c)

Initial values of a, b, c : 5   8   9
Final values of a, b, c : 9   5   8

In [ ]:
Q5. Can you write a program that determines the nature of a given number (in this case, 87) as being 
    positive, negative, or zero? The program should be designed to take the number as input and perform the 
    necessary calculations to determine if the number is positive (i.e., greater than zero), negative 
    (i.e., less than zero), or zero (i.e., equal to zero). The output of the program should indicate which of 
    these three categories the given number falls into.

In [21]:
n=int(input('Enter a number'))
if n>0:
    print('The number is positive')
elif n<0:
    print('The number is negative')
else:
    print('The number is zero')

Enter a number 87

The number is positive

In [ ]:
Q6. How can you create a program that determines whether a given number (in this case, 98) is even or odd? 
    The program should be designed to take the number as input and perform the necessary calculations to 
    determine whether it is divisible by two. If the number is divisible by two without leaving a remainder, 
    it is an even number, and if there is a remainder, it is an odd number. The output of the program should 
    indicate whether the given number is even or odd.

In [22]:
n=int(input('Enter a number'))
if n%2==0:
    print('The number is even')
else:
    print('The number is odd')

Enter a number 98

The number is even

In [ ]:
Q7. Write a program for sum of digits. The digits are 76543 and the output should be 25.

In [23]:
n=76543
sum=0
while(n>0):
    ld=n%10
    sum=sum+ld
    n=int(n/10)
print(sum)

25

In [ ]:
Q8. Write a program for reversing the given number 5436 and the output should be 6345.

In [27]:
num=str(5436)
num=num[::-1]
n=int(num)
print(n)

6345

In [ ]:
Q9. Write a program to check if a given number 371 is an Armstrong number?

In [33]:
n=371
t=n
num=0
l=len(str(n))
while t>0:
    ld=t%10
    num=num+ld**l
    t=int(t/10)
if num==n:
    print(n,' is an armstrong number')
else:
    print(n,' is not an armstrong number')

371  is an armstrong number

In [ ]:
Q10.Write a program the given year is 1996, a leap year.

In [34]:
y=1996
if y%4==0:
    print('Its leap year')
else :
    print("Its not leap year")

Its leap year

In [ ]:
Q11. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’.
     Add ‘mango to the above list. Also add banana, grapes & orange in the list insert apple in the 5th 
     position of a variable ‘a’. Remove last item from the list

In [35]:
a=[i for i in range(2,8)]

In [36]:
a

[2, 3, 4, 5, 6, 7]

In [40]:
a.append('mango')

In [41]:
a.append('banana')
a.append('grapes')
a.append('orange')

In [43]:
a.insert(4,'apple')

In [45]:
a.pop()

'orange'

In [46]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

In [ ]:
Q12. L = [1,2,3,4,5,6,7]. Using the above list slice from 1:4.

In [47]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

In [ ]:
Q13. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [48]:
L = [4,5,6,8,3]
L[::-1]

[3, 8, 6, 5, 4]

In [ ]:
Q14. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [50]:
L=[2,4,7,3,6,8]
list([i**2 for i in L])

[4, 16, 49, 9, 36, 64]

In [ ]:
Q15. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the 
     function with a tuple of your choice.

In [1]:
t=(i for i in range(10))

In [2]:
def sumtup(t):
    sumt=0
    for i in t:
        sumt=sumt+i
    return sumt
print(sumtup(t))

45

In [ ]:
Q16. Create two sets of your favorite fruits, and use the union() method to combine them into a single set. 
     Print the resulting set to the console.

In [3]:
s1={'mango','banana','apple'}
s2={'mango','kiwi','orange'}
s1.union(s2)

{'apple', 'banana', 'kiwi', 'mango', 'orange'}

In [ ]:
Q17. Create a set of random words, and use the add() method to add a new word to the set. Print the 
     resulting set to the console.

In [5]:
set={'hi','bye','try','cry'}
set.add('fry')
set

{'bye', 'cry', 'fry', 'hi', 'try'}

In [ ]:
Q18. Create a set of your favorite animals, and use the remove() method to remove one animal from the set. 
     Print the resulting set to the console.

In [6]:
set={'tiger','lion','panther'}
set.remove('lion')
set

{'panther', 'tiger'}

In [ ]:
Q19. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} 
     favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] 
     Use the zip() function to combine the book set and movie list into a list of tuples representing 
     book/movie pairs. Print the resulting list.

In [9]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} 
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] 
zipped=zip(favorite_books,favorite_movies)

In [12]:
print(list(zipped))

[('Pride and Prejudice', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

In [ ]:
Q20. Write a Python program to find the difference between consecutive numbers in a list.

In [15]:
l=[i for i in range(10)]
for i in range(1,len(l)):
    print(l[i]-l[i-1])

1
1
1
1
1
1
1
1
1

In [ ]:
Q21. Create a dictionary called fruits with the following key-value pairs:
"apple": 0.75
"banana": 1.25
"orange": 0.90 
Then, print out the price of a banana.

In [2]:
d={"apple": 0.75,"banana": 1.25,"orange": 0.90 }
d['banana']

1.25

In [ ]:
Q22. Create an empty dictionary called ages. Add the following key-value pairs to the dictionary:
"Alice": 30
"Bob": 25
"Charlie": 35
Then, print out the age of Charlie.

In [3]:
d={}
d['Alice']=30
d['Bob']=25
d['Charlie']=35
d['Charlie']

35

In [ ]:
Q23. Write a function called word_count(text) that takes a string as input and returns a dictionary where 
     Each key is a word in the text and its value is the number of times that word appears in the text. 
     For example, word_count("hello world hello") should return {"hello": 2, "world": 1}

In [4]:
def word_count(text):
    d={}
    l=text.split()
    for i in l:
        c=0
        for j in l:
            if i==j:
                c=c+1
        d[i]=c
    return d

print(word_count('hello world hello'))

{'hello': 2, 'world': 1}

In [ ]:
Q24. Create a dictionary called phone_book with the following key-value pairs:
"Alice": "555-1234"
"Bob": "555-5678"
"Charlie": "555-9012"
Then, prompt the user to enter a name and print out the corresponding phone number. If the name is not in 
the phone book, print out a message saying that the name was not found.

In [5]:
d={"Alice": "555-1234","Bob": "555-5678","Charlie": "555-9012"}
name=str(input('Enter a name'))
if name in d:
    print('The name is present')
else:
    print('The name is absent')

Enter a name Alice

The name is present

In [ ]:
Q25. Write a program that prompts the user to enter a number between 1 and 10. If the number is less 
     than 5, print out "Too low!", otherwise print out "Too high!".

In [6]:
n=int(input('Enter a number between 1 and 10'))
if n<5:
    print('Too low')
else:
    print('Too high')

Enter a number between 1 and 10 4

Too low

In [ ]:
Q26. Write a program that prompts the user to enter a password. If the password is "password123", print 
     out "Access granted", otherwise print out "Access denied".

In [7]:
pas=str(input('Enter a password'))
if pas=='password123':
    print('Access granted')
else:
    print('Access denied')

Enter a password password123

Access granted

In [ ]:
Q27. Write a program that prompts the user to enter a positive integer. Then, use a loop to print out all 
     the odd numbers from 1 to that integer.

In [8]:
n=int(input('Enter a positive integer'))
if n>0:
    for i in range(1,1+n):
        print (i)
else:
    print('The number is not positive')

Enter a positive integer 5

1
2
3
4
5

In [ ]:
Q28. Write a program that generates a random number between 1 and 100 and then prompts the user to guess 
     the number. If the user's guess is too low, print out "Too low!", if the guess is too high, print out 
     "Too high!", and if the guess is correct, print out "You win!".

In [9]:
import random
n=random.randint(1,100)
num=int(input('Enter a number'))
if num<n:
    print('Too low')
elif num>n:
    print('Too high')
else:
    print('You win')

Enter a number 56

Too high

In [ ]:
Q29. Write a program that generates a random number between 1 and 10 and then prompts the user to guess the 
     number. The user has three attempts to guess the number. If the user guesses correctly within three 
     attempts, print out "You win!", otherwise print out "You lose!"

In [14]:
import random
n=random.randint(1,10)
c=0
y=False
while c<3:
    num=int(input('Enter a number'))
    if num==n:
        y=True
    c=c+1
if y==True:
    print('You win!')
else:
    print('You lose')

Enter a number 46
Enter a number 15
Enter a number 97

You lose

In [ ]:
Q30. Write a program that prompts the user to enter their age and then prints out whether they are a 
     child(age 0-12), a teenager (age 13-19), an adult (age 20-59), or a senior (age 60+)

In [15]:
age=int(input('Enter your age'))
if age<=12:
    print('You are a child')
elif age>12 and age<=19:
    print('You are a teenager')
elif age>19 and age<=59:
    print('You are an adult')
else:
    print('You are senior')

Enter your age 18

You are a teenager

In [ ]:
Q31. Create a class called "Person" with properties for "name", "age", and "gender". Create an object of 
     this class and print out its properties.

In [19]:
class Person: 
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender

p=Person('krishna','18','male')
print(p.name)
print(p.age)
print(p.gender)

krishna
18
male

In [ ]:
Q32. Write a Python class called "Rectangle" with attributes for "width" and "height". Implement methods to
     calculate the area and perimeter of the rectangle. Create an instance of this class and use it to 
     print out the rectangle's area and perimeter.

In [32]:
class Rectangle:
    def __init__(self,width,height):
        self.width=width
        self.height=height
    def area(self):
        return self.width*self.height
    def perimeter(self):
        return 2*(self.width+self.height)
    
rec=Rectangle(20,10)
print(rec.area())
print(rec.perimeter())

200
60

In [ ]:
Q33. Write a Python class called "BankAccount" with attributes for "balance" and "interest_rate". Implement
     methods to deposit and withdraw money from the account, as well as to calculate the interest earned 
     on the balance based on the interest rate. Create an instance of this class and use it to test out 
     the implemented methods for deposit, withdrawal, and interest calculation.

In [34]:
class BankAccount:
    def __init__(self,balance,interest_rate):
        self.balance=balance
        self.interest_rate=interest_rate
    def deposit(self,amt):
        self.balance=self.balance+amt
    def withdraw(self):
        t=int(input('Enter the tenure of deposit'))
        intamt=int((self.balance*t*self.interest_rate)/100)
        amount=intamt+self.balance
        return amount
    
ba=BankAccount(100,2)
ba.deposit(1000)
ba.withdraw()

Enter the tenure of deposit 10

1320

In [ ]:
Q34. Write a Python class called "Animal" with attributes for "name" and "species". Create a subclass of 
     "Animal" called "Dog" with additional attributes for "breed" and "owner". Implement both classes with 
     appropriate methods and constructors to initialize their properties. Create instances of both classes 
     and use them to print out the various properties of the animals and dogs, such as their names, species, 
     breeds, and owners

In [37]:
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species
    def describe(self):
        print(self.name,' ',self.species)
        
class Dog(Animal):
    def __init__(self,breed,owner):
        self.breed=breed
        self.owner=owner
    def dog_describe(self):
        print(self.breed,' ',self.owner)
        
d1=Dog('German','Kishore')
d1.name='dog'
d1.species='mammal'
d1.describe()
d1.dog_describe()

dog   mammal
German   Kishore

In [ ]:
Q35. Create a class called "Car" with properties for "make", "model", and "year". Create a subclass of 
     "Car" called "ElectricCar" with additional properties for "battery_size" and "range". Create objects 
     of both classes and print out their properties.

In [39]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    def describe(self):
        print(self.make,' ',self.model,' ',self.year)
        
class ElectricCar(Car):
    def __init__(self,battery_size,Range):
        self.battery_size=battery_size
        self.Range=Range
    def Car_describe(self):
        print(self.battery_size,' ',self.Range)
        
c1=ElectricCar('1000Ah','100 Mile')
c1.make='Tesla'
c1.model='Model S'
c1.year='2015'
c1.describe()
c1.Car_describe()

Tesla   Model S   2015
1000Ah   100 Mile

In [ ]:
Q36. Create a class called "Student" with properties for "name" and "id". Create a subclass of "Student" 
     called "GraduateStudent" with additional properties for "advisor" and "research_area". Create objects 
     of both classes and print out their properties.

In [41]:
class Student:
    def __init__(self,name,id):
        self.name=name
        self.id=id
    def describe(self):
        print(self.name,' ',self.id)
        
class GraduateStudent(Student):
    def __init__(cls,advisor,research_area):
        cls.advisor=advisor
        cls.research_area=research_area
    def Stu_describe(cls):
        print(cls.advisor,' ',cls.research_area)
        
s1=GraduateStudent('Nuclear advisor','Particle physics')
s1.name='Krishna'
s1.id='7246795'
s1.describe()
s1.Stu_describe()

Krishna   7246795
Nuclear advisor   Particle physics

In [ ]:
Q37. Create a class called "Shape" with methods to calculate the area and perimeter of the shape. Create 
     subclasses of "Shape" for "Rectangle", "Circle", and "Triangle" with their own methods for calculating 
     area and perimeter. Create objects of each class and print out their area and perimeter.

In [50]:
class Shape:
    pass
class Rectangle(Shape):
    def area(self,l,b):
        return l*b
    def perimeter(self,l,b):
        return 2*(l+b)
class Circle(Shape):
    def area(self,r):
        return (22/7)*r*r
    def perimeter(self,r):
        return 2*r*3.14
class Triangle(Shape):
    def area(self,h,b):
        return 0.5*b*h
    def perimeter(self,s1,s2,s3):
        return s1+s2+s3
    
r=Rectangle()
c=Circle()
t=Triangle()
print(r.area(10,20))
print(r.perimeter(10,20))
print(c.area(7))
print(c.perimeter(7))
print(t.area(10,5))
print(t.perimeter(1,2,3))

200
60
154.0
43.96
25.0
6

In [ ]:
Q38. Create a class called "Employee" with properties for "name", "id", and "salary". Add methods to give 
     the employee a raise and to calculate their annual salary. Create objects of this class and test out 
     the methods.

In [53]:
class Employee:
    def __init__(self,name,id,salary):
        self.name=name
        self.id=id
        self.salary=salary
    def giv_raise(self,Raise):
        self.salary=self.salary+Raise
    def display(self):
        print(self.name,' ',self.id,' ',self.salary)
e=Employee('Krishna','7246495',10000)
e.giv_raise(1000)
e.display()

Krishna   7246495   11000

In [ ]:
Q39. Create a class called "Book" with properties for "title", "author", and "publisher". Create a subclass 
     of "Book" is called "Ebook" with additional properties for "file_format" and "file_size". Create 
     objects of both classes and print out their properties

In [55]:
class Book:
    def __init__(self,title,author,publisher):
        self.title=title
        self.author=author
        self.publisher=publisher
    def describe(self):
        print(self.title,' ',self.author,' ',self.publisher)
        
class Ebook(Book):
    def __init__(cls,file_format,file_size):
        cls.file_format=file_format
        cls.file_size=file_size
    def Book_describe(cls):
        print(cls.file_format,' ',cls.file_size)
        
b1=Ebook('pdf','100kb')
b1.title='Aghori'
b1.author='Robert Svoboda'
b1.publisher='Penguin'
b1.describe()
b1.Book_describe()

Aghori   Robert Svoboda   Penguin
pdf   100kb

In [ ]:
Q40. Create a class called "Bank" with properties for "name" and "accounts". Add methods to create new 
     accounts, deposit and withdraw money from accounts, and to calculate the total balance of all accounts. 
     Create an object of this class and test out the methods.

In [56]:
class Bank:
    def __init__(self,name,accounts):
        self.name=name
        self.accounts=accounts
    def add_acc(self,name,acc):
        self.accounts.append(acc)
        self.name.append(name)
    def deposit(self,acc_num,amt):
        self.accounts[acc_num-1]=self.accounts[acc_num-1]+amt
    def withdraw(self,acc_num,amt):
        self.accounts[acc_num-1]=self.accounts[acc_num-1]-amt
    def tot_balance(self):
        tot_bal=0
        for i in self.accounts:
            tot_bal=tot_bal+i
        return tot_bal
b=Bank(['Krishna','Kishore'],[1000,2000])
b.deposit(2,1000)
b.withdraw(1,500)
print(b.tot_balance())

3500

In [ ]:
Q41. Can you create a Python program that reads a text file and counts the number of words contained within 
     it? The program should be designed to read the file and break it down into individual words, using 
     spaces, punctuation marks, and other delimiters to separate the words. It should then count the number 
     of words found in the file and display this count as output. The program should be flexible enough to 
     work with different text files and should be able to handle a variety of formatting and punctuation 
     styles.

In [27]:
import re
with open('test.txt', 'r') as file:
        text = file.read()
        words = re.findall(r'\b\w+\b', text)
        print(text)
        print(len(words))

Data Science Masters course is highly curated and uniquely designed according to the latest industry standards. This program instills students the skills essential to knowledge discovery efforts to identify standard, novel, and truly differentiated solutions and decision-making, including skills in managing, querying, analyzing, visualizing, and extracting meaning from extremely large data sets. This trending program provides students with the statistical, mathematical, and computational skills needed to meet the large-scale data science challenges of today's professional world. You will learn all the stack required to work in data science, data analytics, and big data industry including cloud infrastructure and real-time industry projects.


105

In [ ]:
Q42. Could you help me create a Python program that can find and display the longest word in a text file? 
     The program should be able to read any text file and separate its contents into individual words, 
     taking into account various delimiters like spaces, punctuation marks, and other characters. Then, it 
     should compare the length of each word and determine which one is the longest, and finally, print that 
     word as output. The program should be versatile enough to work with various text files and be able to 
     handle different formatting styles and punctuation.

In [33]:
import re
with open('test.txt','r') as file:
    text=file.read()
    words=re.findall(r'\b\w+\b',text)
    long=''
    print(words)
    for i in words:
        if len(i)>len(long):
            long=i
    print('\nThe longest words')
    for i in words:
        if len(i)==len(long):
            print(i)

['Data', 'Science', 'Masters', 'course', 'is', 'highly', 'curated', 'and', 'uniquely', 'designed', 'according', 'to', 'the', 'latest', 'industry', 'standards', 'This', 'program', 'instills', 'students', 'the', 'skills', 'essential', 'to', 'knowledge', 'discovery', 'efforts', 'to', 'identify', 'standard', 'novel', 'and', 'truly', 'differentiated', 'solutions', 'and', 'decision', 'making', 'including', 'skills', 'in', 'managing', 'querying', 'analyzing', 'visualizing', 'and', 'extracting', 'meaning', 'from', 'extremely', 'large', 'data', 'sets', 'This', 'trending', 'program', 'provides', 'students', 'with', 'the', 'statistical', 'mathematical', 'and', 'computational', 'skills', 'needed', 'to', 'meet', 'the', 'large', 'scale', 'data', 'science', 'challenges', 'of', 'today', 's', 'professional', 'world', 'You', 'will', 'learn', 'all', 'the', 'stack', 'required', 'to', 'work', 'in', 'data', 'science', 'data', 'analytics', 'and', 'big', 'data', 'industry', 'including', 'cloud', 'infrastructure', 'and', 'real', 'time', 'industry', 'projects']

The longest words
differentiated
infrastructure

In [ ]:
Q43. Write a Python program to read a text file and print out the most frequent word(s) in the file.

In [1]:
from functools import reduce
import re
with open('test.txt','r')as file:
    text=file.read()
    words=re.findall(r'\b\w+\b',text)
    freq=[]
    cou=0
    for i in words:
        cou=0
        for j in words:
            if i==j:
                cou=cou+1
        freq.append(cou)
    mostfreq=reduce(lambda x,y:x if x>y else y,freq)
    for i in range(len(freq)):
        if freq[i]==mostfreq:
            print(words[i],' ')

and
and
and
and
and
and
and

In [ ]:
Q44. How can you use Python to count the number of rows in a CSV file?

In [11]:
import pandas as pd
df=pd.read_csv('taxonomy.csv')

In [15]:
nrow=df.shape[0]
nrow

290

In [ ]:
Q45. How can you use Python to calculate the average of a specific column in a CSV file?

In [17]:
import pandas as pd

In [18]:
data = {'Name': ['John', 'Jane', 'Mike', 'Sarah'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Sydney']}
df=pd.DataFrame(data)

In [19]:
df

    Name  Age      City
0   John   25  New York
1   Jane   30    London
2   Mike   35     Paris
3  Sarah   40    Sydney

In [20]:
df['Age'].mean()

32.5

In [ ]:
Q46. Write a Python program to read a JSON file and print out the value of a specified key.

In [22]:
import json

In [31]:
key='Name'
with open('dataj.json','r')as file:
    data=json.load(file)

In [33]:
data

{'Name': ['John', 'Jane', 'Mike', 'Sarah'],
 'Age': [25, 30, 35, 40],
 'City': ['New York', 'London', 'Paris', 'Sydney']}

In [34]:
data.get(key)

['John', 'Jane', 'Mike', 'Sarah']

In [ ]:
Q47. Can you provide a Python code snippet to write a list of strings into a text file where each string is 
     written on a new line?

In [35]:
l=['my','name','is','krishna']
with open('test1.txt','w')as file:
    for i in l:
        file.write(i+'\n')

In [ ]:
Q48. Can you provide a Python code to read a binary file and display the data in hexadecimal format.

In [37]:
data=bytearray([0x41, 0x42, 0x43, 0x44, 0x45])
data

bytearray(b'ABCDE')

In [38]:
with open('testbin.bin','wb')as file:
    file.write(data)

In [43]:
with open ('testbin.bin','rb')as file:
    while True:
        chunk=file.read(16)
        print(chunk)
        if not chunk:
            break
        hex_data=' '.join(f'{byte:02X}' for byte in chunk)

b'ABCDE'
b''

In [40]:
hex_data

'41 42 43 44 45'

In [ ]:
Q49. Can you write a Python code to read a Comma-Separated Values (CSV) file, apply a specific condition to 
     each row, and create a new CSV file that contains only the rows that satisfy the condition? For 
     example, if the CSV file contains information about products and their prices, you may want to create 
     a new CSV file that only includes the products that are within a certain price range. The program 
     should be able to read the CSV file, compare the values in each row to the specified condition, and 
     write the rows that meet the criteria to a new CSV file.

In [45]:
import pandas
data={'items':['soap','brush','comb','paste'],
      'price':[5,10,15,20]}
df=pd.DataFrame(data)
df

   items  price
0   soap      5
1  brush     10
2   comb     15
3  paste     20

In [50]:
df2=df[(df['price']<16) & (df['price']>9)]

In [51]:
df2.to_csv('test2.csv',index=False)

In [52]:
df2

   items  price
1  brush     10
2   comb     15

In [ ]:
Q50. Write a Python program to read a text file, count the frequency of each word, and write the results to 
     a new text file.

In [62]:
import re
with open('test.txt','r')as file:
    data=file.read()
    words=re.findall(r'\b\w+\b',data)
freq=[]
co=0
for i in words:
    co=0
    for j in words:
        if i==j:
            co=co+1
    freq.append(co)
with open('test2.txt','w') as file:
    for i in range(len(words)):
        wrt='Frequency of '+words[i]+' is '+str(freq[i])+'\n'
        file.write(wrt)

In [63]:
with open('test2.txt','r')as file:
    data=file.read()
    print(data)

Frequency of Data is 1
Frequency of Science is 1
Frequency of Masters is 1
Frequency of course is 1
Frequency of is is 1
Frequency of highly is 1
Frequency of curated is 1
Frequency of and is 7
Frequency of uniquely is 1
Frequency of designed is 1
Frequency of according is 1
Frequency of to is 5
Frequency of the is 5
Frequency of latest is 1
Frequency of industry is 3
Frequency of standards is 1
Frequency of This is 2
Frequency of program is 2
Frequency of instills is 1
Frequency of students is 2
Frequency of the is 5
Frequency of skills is 3
Frequency of essential is 1
Frequency of to is 5
Frequency of knowledge is 1
Frequency of discovery is 1
Frequency of efforts is 1
Frequency of to is 5
Frequency of identify is 1
Frequency of standard is 1
Frequency of novel is 1
Frequency of and is 7
Frequency of truly is 1
Frequency of differentiated is 1
Frequency of solutions is 1
Frequency of and is 7
Frequency of decision is 1
Frequency of making is 1
Frequency of including is 2
Frequency of skills is 3
Frequency of in is 2
Frequency of managing is 1
Frequency of querying is 1
Frequency of analyzing is 1
Frequency of visualizing is 1
Frequency of and is 7
Frequency of extracting is 1
Frequency of meaning is 1
Frequency of from is 1
Frequency of extremely is 1
Frequency of large is 2
Frequency of data is 5
Frequency of sets is 1
Frequency of This is 2
Frequency of trending is 1
Frequency of program is 2
Frequency of provides is 1
Frequency of students is 2
Frequency of with is 1
Frequency of the is 5
Frequency of statistical is 1
Frequency of mathematical is 1
Frequency of and is 7
Frequency of computational is 1
Frequency of skills is 3
Frequency of needed is 1
Frequency of to is 5
Frequency of meet is 1
Frequency of the is 5
Frequency of large is 2
Frequency of scale is 1
Frequency of data is 5
Frequency of science is 2
Frequency of challenges is 1
Frequency of of is 1
Frequency of today is 1
Frequency of s is 1
Frequency of professional is 1
Frequency of world is 1
Frequency of You is 1
Frequency of will is 1
Frequency of learn is 1
Frequency of all is 1
Frequency of the is 5
Frequency of stack is 1
Frequency of required is 1
Frequency of to is 5
Frequency of work is 1
Frequency of in is 2
Frequency of data is 5
Frequency of science is 2
Frequency of data is 5
Frequency of analytics is 1
Frequency of and is 7
Frequency of big is 1
Frequency of data is 5
Frequency of industry is 3
Frequency of including is 2
Frequency of cloud is 1
Frequency of infrastructure is 1
Frequency of and is 7
Frequency of real is 1
Frequency of time is 1
Frequency of industry is 3
Frequency of projects is 1

In [ ]:
Q51. Write a program that prints the first 10 even numbers using a for loop.

In [65]:
for i in range(0,20,2):
	print(i,end=" ")

0 2 4 6 8 10 12 14 16 18

In [ ]:
Q52. Write a program that takes a list of strings and prints out each string in reverse order using a for 
     loop.

In [66]:
l=['krishna','kishore','kamalay','ravindra','karthikeya']
for i in l:
	print(i[::-1])

anhsirk
erohsik
yalamak
ardnivar
ayekihtrak

In [ ]:
Q53. Write a program that prints the multiplication table of a given number using a for loop.

In [67]:
n=int(input('Enter a number'))
for i in range(1,11):
	print(n,' * ',i,' = ',i*n)

Enter a number 5

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [ ]:
Q54. Write a program that takes a list of integers as input and returns the sum of all the numbers in the 
     list using a for loop.

In [70]:
l=[]
print('Enter 10 numbers')
for i in range(10):
	l.append(int(input()))
sum=0
for i in l:
	sum=sum+i
print(sum)

Enter 10 numbers

 1
 2
 3
 4
 5
 6
 7
 8
 9
 10

55

In [ ]:
Q55. Write a program that prompts the user for a positive integer and then prints out all the prime numbers 
     up to that number using a for loop.

In [74]:
def isprime(n):
	f=0
	for i in range(1,n+1):
		if n%i ==0:
			f=f+1
	if f==2:
		return True
	else:
		return False

n=int(input('Enter a positive number'))
if n>0:
	for i in range(1,n+1):
		if isprime(i):
			print(i,end=' ')
else:
    print('You have not entered a positive number')

Enter a positive number 100

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
Q56. Write a program that prompts the user to enter a password until the correct password is entered using 
     a while loop.

In [75]:
pword='12345678'
word=str(input('Enter your password'))
while True:
	if word==pword:
		print('You have entered the right password')
		break
	else:
		word=str(input('Wrong password! Try again'))

Enter your password 465
Wrong password! Try again 16
Wrong password! Try again 158
Wrong password! Try again 123456789
Wrong password! Try again 12345678

You have entered the right password

In [ ]:
Q57. Write a program that takes a list of strings and prints out each string in reverse order using a while 
     loop.

In [76]:
sen=str(input('Enter a list of strings seperated by comma'))
l=sen.split(',')
for i in l:
	print(i[::-1])

Enter a list of strings seperated by comma krishna, kishore

anhsirk
erohsik

In [ ]:
Q58. Write a program that prompts the user to enter a positive integer and then prints out all the Fibonacci 
     numbers up to that number using a while loop.

In [82]:
n=int(input('Enter a positive number'))
if n>0:
    a=0
    b=1
    c=0
    i=1
    while i<=n:
        print(a,end=' ')
        c=a+b
        a=b
        b=c
        i=i+1
else:
    print('You have not entered a positive number')

Enter a positive number 5

0 1 1 2 3

In [ ]:
Q59. Write a program that takes a list of integers as input and returns the product of all the numbers in 
     the list using a while loop.

In [93]:
l=[]
print('Enter 10 numbers')
for i in range(10):
    l.append(int(input()))
prod=1
a=0
while a<10:
    prod=prod*l[a]
    a=a+1
print(prod)

Enter 10 numbers

 1
 2
 3
 4
 5
 6
 7
 8
 9
 10

3628800

In [ ]:
Q60. Write a program that prompts the user to enter a positive integer and then prints out the factorial of 
     that number using a while loop.

In [98]:
n=int(input('Enter a positive number'))
if n>0:
    i=1
    fa=1
    while i<=n:
        fa=fa*i
        i=i+1
    print('The factorial of the number: ',fa)
else:
    print('You have not entered a positive number')

Enter a positive number 5

The factorial of the number:  120

In [ ]:
Q61. Write a program that spawns two threads. One thread should print even numbers between 0 and 10, and the 
     other thread should print odd numbers between 1 and 9.

In [11]:
import threading
def even(i):
    if i%2==0:
        print(i)
def odd(i):
    if i%2 !=0:
        print(i)
even=[threading.Thread(target=even,args=(i,))for i in range(0,11,2)]
odd=[threading.Thread(target=odd,args=(i,))for i in range(1,10,2)]
for e in even:
    e.start()
print()
for o in odd:
    o.start()

0
2
4
6
8
10

1
3
5
7
9

In [ ]:
Q62. Write a program that generates a list of random numbers and sorts them using multithreading. Use two 
     threads to sort the first half and the second half of the list in parallel.

In [14]:
import threading
import random
lst=[random.randint(1,100) for i in range(10)]
lst

[51, 57, 10, 96, 35, 31, 57, 7, 60, 100]

In [15]:
def sort_list(l):
    return l.sort()
if __name__=='__main__':
    mid=int(len(lst)/2)
    l1=lst[:mid]
    l2=lst[mid:]
    t1=threading.Thread(target=sort_list,args=(l1,))
    t2=threading.Thread(target=sort_list,args=(l2,))
    t1.start()
    t2.start()
    t1.join()
    t2.join()
    sortedlist=l1+l2
    print(sortedlist)

[10, 35, 51, 57, 96, 7, 31, 57, 60, 100]

In [ ]:
Q63. Write a program that simulates a bank account transaction. The program should create two threads, one 
     for a deposit and one for a withdrawal. The deposit thread should add 100 to the account,and the 
     withdrawal thread should withdraw 50 from the account. Run the program for 10 iterations.

In [34]:
import threading
class bank:
    def __init__(self):
        self.bal=0
        self.lock=threading.Lock()
    def deposit(self,amt):
        with self.lock:
            print('Depositing: ',amt)
            self.bal+=amt
    def withdraw(self,amt):
        with self.lock:
            print('Withdrawing: ',amt)
            self.bal-=amt
def tran(acc,dep_amt,wit_amt):
        for i in range(5):
            acc.deposit(dep_amt)
            acc.withdraw(wit_amt)
if __name__=='__main__':
        acc=bank()
        dep_thr=threading.Thread(target=tran,args=(acc,100,50))
        wit_thr=threading.Thread(target=tran,args=(acc,100,50))
        dep_thr.start()
        wit_thr.start()
        dep_thr.join()
        wit_thr.join()
        print('Final balance: ',acc.bal)

Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Depositing:  100
Withdrawing:  50
Final balance:  500

In [ ]:
Q64. Write a Python program that creates a thread to print out the current date and time every 5 seconds. 
     The program should continue running until the user presses the 'q' key.

In [2]:
import threading
import datetime
import time
def testtime(flag):
    while not flag.is_set():
        print('Current date and time: ',datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
        time.sleep(5)
def checkkey(flag):
    while not flag.is_set():
        if str(input('Enter q to exit'))=='q':
            flag.set()
            
if __name__=='__main__':
    flag=threading.Event()
    t1=threading.Thread(target=testtime,args=(flag,))
    t2=threading.Thread(target=checkkey,args=(flag,))
    t1.start()
    t2.start()
    t1.join()
    t2.join()

Current date and time:  2023-07-08 07:25:38
Current date and time:  2023-07-08 07:25:43
Current date and time:  2023-07-08 07:25:48

Enter q to exit q

In [ ]:
Q65. Write a Python program that creates two threads. Each thread should print out the numbers from 1 to 10. 
     The two threads should run concurrently and print out the numbers in an interleaved fashion.

In [18]:
import threading
import time
def numbers(id):
    for num in range(1, 11):
        print("Thread ",id,' : ',num)
        time.sleep(0.01)

if __name__ == '__main__':
    t1 = threading.Thread(target=numbers, args=(1,))
    t2 = threading.Thread(target=numbers, args=(2,))

    t1.start()
    t2.start()

    t1.join()
    t2.join()

Thread  1  :  1
Thread  2  :  1
Thread  1  :  2
Thread  2  :  2
Thread  1  :  3
Thread  2  :  3
Thread  1  :  4
Thread  2  :  4
Thread  1  :  5
Thread  2  :  5
Thread  1  :  6
Thread  2  :  6
Thread  1  :  7
Thread  2  :  7
Thread  1  :  8
Thread  2  :  8
Thread  1  :  9
Thread  2  :  9
Thread  1  :  10
Thread  2  :  10

In [ ]:
Q66. Write a Python program to create a shared variable between two threads and increment its value in each 
     thread.

In [22]:
class inc_var:
    def __init__(self):
        self.var=0
    def inc(self):
        self.var+=1
def perf_inc(v_ob):
    print(v_ob.var)
    v_ob.inc()
if __name__=='__main__':
    v_ob=inc_var()
    t1=threading.Thread(target=perf_inc,args=(v_ob,))
    t2=threading.Thread(target=perf_inc,args=(v_ob,))
    t1.start()
    t2.start()
    t1.join()
    t2.join()
print(v_ob.var)

0
1
2

In [ ]:
Q67. Here's a Python program that creates a thread to count down from 5 to 0 and prints "Blastoff!" when 
     the count reaches 0:

In [25]:
def countdown():
    v=5
    while True:
        if v==0:
            print('\nBlastoff')
            break
        else:
            print(v,end=' ')
        v=v-1
if __name__=='__main__':
    thr=threading.Thread(target=countdown)
    thr.start()
    thr.join()

5 4 3 2 1
Blastoff

In [ ]:
Q68. Write a program that creates a thread to print the Fibonacci sequence up to a certain number n. The 
     main thread should prompt the user for the value of n.

In [29]:
def fibonacci(n):
    a=0
    b=1
    c=0
    for i in range(n):
        print(a,end=' ')
        c=a+b
        a=b
        b=c
def inpt():
    num= int(input('Enter the number of terms'))
    fibonacci(num)
if __name__=='__main__':
    thread=threading.Thread(target=inpt)
    thread.start()

Enter the number of terms 5

0 1 1 2 3

In [ ]:
Q69. Write a program that creates two threads to add and subtract numbers from a shared variable. The 
     shared variable should start at 0, and each thread should perform 10 iterations of adding or 
     subtracting a random integer between 1 and 10. The program should print the final value of the shared 
     variable.

In [4]:
import random
import threading
class addsub:
    def __init__(self):
        self.sharedvar=0
    def add(self):
        self.sharedvar=self.sharedvar+random.randint(1,10)
    def sub(self):
        self.sharedvar=self.sharedvar-random.randint(1,10)
def func(addsubob,id):
    print('Thread ',id,' executed')
    for i in range(10):
        addsubob.add()
        addsubob.sub()
if __name__=='__main__':
    addsubob=addsub()
    t1=threading.Thread(target=func,args=(addsubob,1))
    t2=threading.Thread(target=func,args=(addsubob,2))
    t1.start()
    t2.start()
    t1.join()
    t2.join()
    print(addsubob.sharedvar)

Thread  1  executed
Thread  2  executed
8

In [ ]:
Q70. Write a program that creates a thread to calculate the sum of the numbers from 1 to 100 and prints the 
     result.

In [6]:
def sum():
    sm=0
    for i in range(1,101):
        sm=sm+i
    print('The sum of the numbers from 1 to 100: ',sm)
if __name__=='__main__':
    t=threading.Thread(target=sum)
    t.start()

The sum of the numbers from 1 to 100:  5050

In [ ]:
Q71. Write a Python program to create two processes that print out the numbers from 1 to 10 simultaneously.

In [40]:
import multiprocessing
def values(start,end):
    for i in range(start,end+1,2):
        print(i)
if __name__=='__main__':
    m1=multiprocessing.Process(target=values,args=(1,10))
    m2=multiprocessing.Process(target=values,args=(2,11))
    m1.start()
    m2.start()
    m1.join()
    m2.join()

1
32

54

76

98

10

In [ ]:
Q72.Write a Python program that creates four processes and computes the sum of the first 1000 integers using 
    multiprocessing.

In [38]:
import multiprocessing
def sumnum(start,end,resultq):
    parsum=sum(range(start,end))
    print(parsum)
    resultq.put(parsum)
if __name__=='__main__':
    resultq=multiprocessing.Queue()
    process=[]
    start=1
    end=1000
    step=(-start+end+1)//4
    for i in range(4):
        pstart=start+(i*step)
        pend=pstart+step-1
        p=multiprocessing.Process(target=sumnum,args=(pstart,pend,resultq))
        process.append(p)
    for p in process:
        p.start()
    for p in process:
        p.join()
    totalsum=0
    while not resultq.empty():
        totalsum=totalsum+resultq.get()
    print('Sum: ',totalsum)

31125
93375
155625
217875
Sum:  498000

In [ ]:
Q73. Write a Python program that creates two processes and communicates between them using a Queue. The first 
     process should send a list of numbers to the second process, which should calculate the sum of the 
     numbers and send it back to the first process.

In [40]:
import random
import multiprocessing

def createlist(q):
    lst=[random.randint(1,10) for i in range(10)]
    print(lst)
    q.put(lst)
def listsum(q):
    lstsum=sum(q.get())
    print(lstsum)
    q.put(lstsum)
if __name__=='__main__':
    q=multiprocessing.Queue()
    p1=multiprocessing.Process(target=createlist,args=(q,))
    p2=multiprocessing.Process(target=listsum,args=(q,))
    p1.start()
    p2.start()
    p1.join()
    p2.join()
    sumnum=q.get()
    print(sumnum)

[1, 5, 5, 3, 4, 4, 1, 3, 3, 4]
33
33

In [ ]:
Q74. Write a program to find the maximum number in a list of lists using multiprocessing.

In [52]:
import random
def maxi(lst,q):
    print(max(lst))
    q.put(max(lst))
if __name__=='__main__':
    biglist=[]
    for i in range(10):
        small=[random.randint(1,100) for i in range(10)]
        biglist.append(small)
    q=multiprocessing.Queue()
    for lst in biglist:
        m=multiprocessing.Process(target=maxi,args=(lst,q))
        m.start()
        m.join()
    maxlist=[]
    while not q.empty():
        maxlist.append(q.get())
    print('The max number in list of lists is: ',max(maxlist))

92
97
92
99
96
78
71
100
89
90
The max number in list of lists is:  100

In [ ]:
Q75. Write a Python program that uses the Pool class from the multiprocessing module to calculate the squares 
     of a list of integers.

In [53]:
def sq(n):
    return n**2
with multiprocessing.Pool(processes=4)as pool:
    out=pool.map(sq,[random.randint(1,100) for i in range(10)])
    print(out)

[361, 1369, 4761, 1156, 529, 841, 2916, 3721, 7744, 576]

In [ ]:
Q76. How do you create a new process using the multiprocessing module in Python?

In [ ]:
A76. We can create a new process in python by the following code.
        import multiprocessing
        m=multiprocessing.process(target=<function name>,args=(<arguments>))

In [ ]:
Q77. How do you use a Pool to execute a function with multiple arguments in parallel?

In [ ]:
A77. To execute a function with multiple arguments in parallel using a 'Pool' in python, we can utilize map()
     or starmap() function given by multiprocessing.Pool
     Ex: 
            def sq(n):
                return n**2
            with multiprocessing.Pool(processes=4)as pool:
                out=pool.map(sq,[random.randint(1,100) for i in range(10)])
                print(out)

In [ ]:
Q78. Write a Python program to calculate the sum of squares of numbers in a list using multiprocessing.

In [54]:
def sq(n):
    return n**2
with multiprocessing.Pool(processes=4)as pool:
    out=pool.map(sq,[random.randint(1,100) for i in range(10)])
    print(sum(out))

41802

In [ ]:
Q79. Write a Python program that uses the multiprocessing module to calculate the sum of a large list of 
     integers.

In [55]:
def sumlist(lst):
    print('The sum of the large list of integers: ',sum(lst))
lst=[random.randint(1000,10000) for i in range(100)]
m= multiprocessing.Process(target=sumlist,args=(lst,))
m.start()
m.join()

The sum of the large list of integers:  552388

In [ ]:
Q80. Write a Python program that uses the multiprocessing module to parallelize the computation of the 
     factorial of a number.

In [56]:
def fact(n):
    prod=1
    for i in range(1,n+1):
        prod=prod*i
    print('The factorial of ',n,' is: ',prod)
m=multiprocessing.Process(target=fact,args=(int(input('Enter a number')),))
m.start()

Enter a number 5

The factorial of  5  is:  120

In [ ]:
Q81. Write a Python program that prompts the user for two integers and divides the first integer by the 
     second integer. If the either variable are none integer then print the value error and second integer 
     is zero, catch the ZeroDivisionError and print an error message to the user.

In [58]:
try:
    n1=int(input('Enter a number'))
    n2=int(input('Enter another number'))
    n1/n2
except ZeroDivisionError as e:
    print('The second number is zero!!')
except ValueError as e:
    print('The input is not integer!!')

Enter a number kri

The input is not integer!!

In [59]:
try:
    n1=int(input('Enter a number'))
    n2=int(input('Enter another number'))
    n1/n2
except ZeroDivisionError as e:
    print('The second number is zero!!')
except ValueError as e:
    print('The input is not integer!!')

Enter a number 5
Enter another number 0

The second number is zero!!

In [ ]:
Q82. Write a Python program that prompts the user for a password and checks whether the password meets 
     certain criteria (e.g., at least 8 characters, contains at least one uppercaseletter, etc.). If the 
     password does not meet the criteria, raise a custom exception calledPasswordError with a custom error 
     message.

In [66]:
class passerror(Exception):
    def __init__(self,msg):
        self.msg=msg
def validatepass(password):
    if len(password)<8:
        raise passerror('The password is not even a length of 8 characters')
    else:
        y=False
        for i in password:
            if i.isupper():
                y=True
        if y:
            print('Password accepted')
        else:
            raise passerror('There is no uppercase letter')
try:
    password=input('Enter a password')
    validatepass(password)
except passerror as e:
    print(e)

Enter a password 12345678901233K

Password accepted

In [67]:
class passerror(Exception):
    def __init__(self,msg):
        self.msg=msg
def validatepass(password):
    if len(password)<8:
        raise passerror('The password is not even a length of 8 characters')
    else:
        y=False
        for i in password:
            if i.isupper():
                y=True
        if y:
            print('Password accepted')
        else:
            raise passerror('There is no uppercase letter')
try:
    password=input('Enter a password')
    validatepass(password)
except passerror as e:
    print(e)

Enter a password KRISHNAKISHORE

Password accepted

In [ ]:
Q83. Write a Python program that prompts the user for a number and calculates the square root of the number 
     using the math.sqrt() function. If the number is negative, raise a ValueError with a custom error 
     message.

In [69]:
import math
try:
    num=int(input('Enter a number'))
    print(math.sqrt(num))
except ValueError as e:
    print('The integer is negative')

Enter a number -6

The integer is negative

In [ ]:
Q84. Write a Python program that prompts the user for a number and calculates the square root of the number 
     using the math.sqrt() function. If the number is negative, raise a ValueError with a custom error 
     message.

In [70]:
import math
try:
    num=int(input('Enter a number'))
    print(math.sqrt(num))
except ValueError as e:
    print('The integer is negative')

Enter a number 7

2.6457513110645907

In [ ]:
Q85. Write a Python program that prompts the user for a list of integers and calculates the average of the 
     list. If the list is empty, raise a ValueError with a custom error message.

In [72]:
import statistics
try:
    sen=input('Enter list of integers seperated by space')
    lst=sen.split(' ')
    for i in range(len(lst)):
        lst[i]=int(lst[i])
    print('Average: ',statistics.mean(lst))
except Exception as e:
    print('The list is empty!!')

Enter list of integers seperated by space 1 2 3 4 5 6 7 8 9 10

Average:  5.5

In [73]:
import statistics
try:
    sen=input('Enter list of integers seperated by space')
    lst=sen.split(' ')
    for i in range(len(lst)):
        lst[i]=int(lst[i])
    print('Average: ',statistics.mean(lst))
except Exception as e:
    print('The list is empty!!')

Enter list of integers seperated by space .

The list is empty!!

In [ ]:
Q86. Write a function that takes a string as input and returns the number of vowels in the string. If the 
     input is not a string, raise a TypeError with a custom error message.

In [4]:
def countvowels(inpstr):
    if not isinstance(inpstr,str):
        raise TypeError('Input must be string')
    vowels='aeiouAEIOU'
    vcount=sum(1 for char in inpstr if char in vowels)
    print('The number of vowels in',inpstr,vcount)
try:
    word=input('Enter a word')
    int(word)
    print('The input is not string!!!')
except ValueError as e:
    countvowels(word)

Enter a word krishna

The number of vowels in krishna 2

In [5]:
def countvowels(inpstr):
    if not isinstance(inpstr,str):
        raise TypeError('Input must be string')
    vowels='aeiouAEIOU'
    vcount=sum(1 for char in inpstr if char in vowels)
    print('The number of vowels in',inpstr,vcount)
try:
    word=input('Enter a word')
    int(word)
    print('The input is not string!!!')
except ValueError as e:
    countvowels(word)

Enter a word 1234

The input is not string!!!

In [ ]:
Q87. Write a python program how to handle simple runtime error?

In [7]:
try:
    10/0
except Exception as e:
    print (e)

division by zero

In [ ]:
Q88. Write a program how to handle multiple errors with one answer.

In [8]:
try:
    10/0
    int('kri')
    'kri'+4
except Exception as e:
    print(e)

division by zero

In [ ]:
Q89. Write a program to print the reciprocal of even numbers note:we might want to run a certain block of 
     code if the code block inside try runs without any errors. For these cases, you can use the optional 
     else keyword with the try statement.

In [17]:
try:
    for i in range(0,1000,2):
        print(1/i,end=' ')
except Exception as e:
    print(e)
else:
    print('Code runs perfectly')

division by zero

In [ ]:
Q90. How to handle exceptions using the try, except, and finally statements write code.

In [18]:
try:
    10/0
except Exception as e:
    print(e)
finally:
    print('The code has been executed')

division by zero
The code has been executed

In [ ]:
Q91. Write a Python program to create a MySQL database and a table.

In [ ]:
import mysql.connector
conn=mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password')
cursor=conn.cursor()
cursor.execute('CREATE TABLE IF NOT EXISTS test.table()')
conn.close()

In [22]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 50.6 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 71.9 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.11
    Uninstalling protobuf-4.21.11:
      Successfully uninstalled protobuf-4.21.11
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
Q92. Write a Python program to insert data into a MySQL table.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Krishna", "Hyderabad")
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
Q93. Write a Python program to create an index on a MySQL table.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE INDEX idx_name ON customers (name)")

In [ ]:
Q94. Write a Python program to join two tables in MySQL.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT customers.name, orders.product_name FROM customers INNER JOIN orders ON customers.id = orders.customer_id")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [ ]:
Q95. Write a Python program to handle MySQL errors using exception handling.

In [ ]:
import mysql.connector
try:
    mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="mydatabase"
  )
except Exception as e:
    print("Something went wrong: ",e)
else:
    mycursor = mydb.cursor()
    mycursor.execute("SELECT * FROM customers")
    myresult = mycursor.fetchall()
    for x in myresult:
    print(x)
finally:
    mydb.close()

In [ ]:
Q96. Write a Python program to connect to a MongoDB database and insert data.

In [ ]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://dragonkrissash:dragonkrissash@cluster0.xwyg9rp.mongodb.net/')
db=client['data']
col1=db['collection1']
dic={'name':'krishna','age':'18'}
col1.insert_one(dic)

In [ ]:
Q97. Write a Python program to update data in a MongoDB database.

In [ ]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://dragonkrissash:dragonkrissash@cluster0.xwyg9rp.mongodb.net/')
mydb=client['data']
mycol = mydb["customers"]
myquery = { "address": "Highway 37" }
newvalues = { "$set": { "address": "Park Lane 38" } }
mycol.update_many(myquery, newvalues)
print("Documents updated:", mycol.modified_count)

In [ ]:
Q98. Write a Python program to handle MongoDB errors using exception handling.

In [ ]:
import pymongo
try:
    client = pymongo.MongoClient('mongodb+srv://dragonkrissash:dragonkrissash@cluster0.xwyg9rp.mongodb.net/')
    db=client['data']
    col = db["collection"]
except pymongo.errors.ConnectionFailure as e:
    print("Could not connect to MongoDB")
else:
    mydict = { "name": "Krishna", "address": "Hyderabad"}
    x = col.insert_one(mydict)
finally:
    client.close()

In [ ]:
Q99. Write a Python program to query a MongoDB database using aggregation.

In [ ]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://dragonkrissash:dragonkrissash@cluster0.xwyg9rp.mongodb.net/')
db=client['data']
col1=db['collection1']
pipeline = [
  { "$match": { "address": "Highway 37" } },
  { "$group": { "_id": "$name", "count": { "$sum": 1 } } }
]
result = mycol.aggregate(pipeline)
for x in result:
    print(x)

In [ ]:
Q100. Write a Python program to perform a text search on a MongoDB database.

In [ ]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://dragonkrissash:dragonkrissash@cluster0.xwyg9rp.mongodb.net/')
db = client["mydatabase"]
col = db["customers"]
myquery = { "$text": { "$search": "apple" } }
mydoc = col.find(myquery)
for x in mydoc:
    print(x)

In [ ]:
Q101. Create a Flask application that displays "Hello, World!" on the homepage.

In [ ]:
from flask import Flask
app = Flask(__name__)
@app.route("/")
def hello_world():
    return "<h1>Hello, World!</h1>"
if __name__=="__main__":
    app.run(host="0.0.0.0")

In [ ]:
Q102. Write a Flask route that takes a name parameter and returns "Hello, [name]!" as plain text.

In [ ]:
from flask import Flask
app = Flask(__name__)
@app.route("/hello/<name>")
def hello(name):
    return f"Hello, {name}!"
if __name__ == "__main__":
    app.run()

In [ ]:
Q103. Write a Flask route that takes a number parameter and returns the square of that number as plain text.

In [ ]:
from flask import Flask
app = Flask(__name__)
@app.route("/square/<int:num>")
def square(num):
    return str(num**2)
if __name__ == "__main__":
    app.run()

In [ ]:
Q104. Write a Flask route that displays a simple HTML form that asks for a name and returns "Hello, [name]!" when submitted.

In [ ]:
from flask import Flask, request, render_template
app = Flask(__name__)
@app.route("/", methods=["GET", "POST"])
def hello():
    if request.method == "POST":
        name = request.form["name"]
        return f"Hello, {name}!"
    else:
        return render_template("index.html")
if __name__ == "__main__":
    app.run()

''' The corresponding index.html file should contain the following:
<!doctype html>
<html>
  <body>
    <form method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>'''

In [ ]:
Q105. Write a Flask route that displays a list of names in an HTML unordered list.

In [ ]:
from flask import Flask, render_template
app = Flask(__name__)
@app.route("/names")
def names():
    names = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
    return render_template("names.html", names=names)
if __name__ == "__main__":
    app.run()
'''The corresponding names.html file should contain the following:
<!doctype html>
<html>
  <body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {% for name in names %}
          <tr>
            <td>{{ name[0] }}</td>
            <td>{{ name[1] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>'''

In [ ]:
Q106. Write a Flask route that displays a list of names in a table.

In [ ]:
from flask import Flask, render_template
app = Flask(__name__)
@app.route("/names")
def names():
    names = ["Alice", "Bob", "Charlie"]
    return render_template("names.html", names=names)
if __name__ == "__main__":
    app.run()
''' The corresponding names.html file should contain the following:
<!doctype html>
<html>
  <body>
    <form method="POST">
      <label for="name">Name:</label>
      <select id="name" name="name">
        {% for name in names %}
          <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>'''

In [ ]:
Q107. Write a Flask route that displays a list of names in a dropdown menu.

In [ ]:
from flask import Flask, render_template
app = Flask(__name__)
@app.route("/names")
def names():
    names = ["Alice", "Bob", "Charlie"]
    return render_template("names.html", names=names)
if __name__ == "__main__":
    app.run()
''' The corresponding names.html file should contain the following:
<!doctype html>
<html>
  <body>
    <form method="POST">
      <label for="name">Name:</label>
      <select id="name" name="name">
        {% for name in names %}
          <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>'''

In [ ]:
Q108. Write a Flask route that receives data through a POST request and returns the data in JSON format.

In [ ]:
from flask import Flask, request, jsonify
app = Flask(__name__)
@app.route("/data", methods=["POST"])
def data():
    data = request.get_json()
    return jsonify(data)
if __name__ == "__main__":
    app.run()

In [ ]:
Q109. Write a Flask route that receives data through a POST request and returns the data in JSON format.

In [ ]:
from flask import Flask, send_from_directory
app = Flask(__name__)
@app.route("/static/<path:filename>")
def static_file(filename):
    return send_from_directory("static", filename)
if __name__ == "__main__":
    app.run()

In [ ]:
Q110. Write a Flask route that redirects the user to a different URL.

In [ ]:
from flask import Flask, redirect
app = Flask(__name__)
@app.route("/")
def index():
    return redirect("/hello")
@app.route("/hello")
def hello():
    return "Hello, World!"
if __name__ == "__main__":
    app.run()